body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0;
  padding: 0;
  background-image: url('../public/BackgroundHQ.png');
  background-color: rgb(49, 130, 205);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center; 
  min-height: 200vh; Adjust for scrolling */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
